#wrap {
  width: 100%;
}

#wrap_m {
  display: none;
}

section {
  width: 100%;
  height: 1000px;
}

/* 메인영역 */

#main {
  width: 100%;
  height: 1000px;
  background: url(../images/mainimg.png) no-repeat 0 -150px;
  background-size: 100%;
}

#header {
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #000; */
  background-color: #000;
  position: fixed;
}

#header .logo {
  float: left;
  margin-left: 100px;
  width: 200px;
  height: 100px;
  /* background-color: aqua; */
  text-align: center;
  line-height: 100px;
}

#header .logo span {
  font-size: 50px;
  color: #fff;
}

#header .nav {
  float: right;
  margin-right: 200px;
  width: 1000px;
  height: 100px;
  /* background-color: bisque; */
}

#header .nav_list {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .nav_list li {
  width: 12%;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
}

#header .nav_list li.on {
  border-bottom: 2px solid #fff;
  font-weight: 900;
}

#main_b {
  width: 1000px;
  height: 1000px;
  /* background-color: aqua; */
  padding: 400px 0 0 150px;
  box-sizing: border-box;
}

#main_b p {
  font-size: 70px;
  position: relative;
}

/* 자기소개영역 */

#aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutme_in {
  width: 1300px;
  height: 800px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#aboutmebox {
  width: 400px;
  height: 100px;
  /* border: 5px solid #000; */
  margin-bottom: 50px;
}

#aboutmebox p {
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}

#aboutmetxt {
  width: 700px;
  height: 600px;
  /* border: 1px solid #000; */
}

#aboutmetxt p {
  font-size: 15px;
  margin-bottom: 10px;
}

#aboutmetxt p > span {
  font-size: 20px;
}

#aboutmetxt > span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 30px 0;
}

/* 스킬영역 */

#skill {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#skill_in {
  width: 1300px;
  height: 800px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill_in .skill_list {
  width: 1300px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid #000; */
  align-items: center;
}

#skill_in .skill_list li {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 15%;
  height: 30%;
  display: flex;
  align-items: center;
}

#skill_in .skill_list img {
  width: 100%;
}

#skillbox {
  width: 500px;
  height: 100px;
  /* border: 1px solid #000; */
  text-align: center;
  line-height: 100px;
}

#skillbox p {
  font-size: 50px;
}

/*#percent {
  width: 1100px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#percent > div {
  width: 100%;
  height: 50px;
}

#percent > div > div {
  float: left;
  width: 150px;
  text-align: center;
}

#percent > div > div span {
  font-size: 15px;
}

#percent > div .percentbox {
  width: 300px;
  height: 25px;
  border: 1px solid #000;
  overflow: hidden;
}

#percent > div .percentbox > div {
  height: 25px;
  background-color: #000;
  position: relative;
}

#percent .percent01 .percentbox > div {
  width: 200px;
  left: -200px;
}

#percent .percent02 .percentbox > div {
  width: 100px;
  left: -100px;
}

#percent .percent03 .percentbox > div {
  width: 100px;
  left: -100px;
}

#percent .percent04 .percentbox > div {
  width: 30px;
  left: -30px;
}

#percent .percent05 .percentbox > div {
  width: 50px;
  left: -50px;
}

#percent > div p {
  float: right;
  font-size: 15px;
} */

/* 작업물영역 */

#project {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#project_in {
  width: 1300px;
  height: 800px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#projectbox {
  width: 500px;
  height: 100px;
  /* border: 10px solid #000; */
  text-align: center;
  line-height: 100px;
}

#projectbox p {
  font-size: 50px;
}

#project_h {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#project_h .project_h_list {
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project_h .project_h_list li {
  width: 150px;
  height: 30px;
  border: 3px solid #000;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#project_h .project_h_list li.on {
  background-color: #000;
  color: #fff;
}

#project_h .project_h_list li.on2 {
  background-color: yellow;
  color: #000;
}

#project_b {
  width: 1000px;
  height: 500px;
  /* border: 1px solid #000; */
  overflow: hidden;
}

#project_b .pb {
  width: 6000px;
  height: 500px;
  position: relative;
}

#project_b .pb > div {
  float: left;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#project_b .xd_img {
  width: 300px;
  height: 300px;
}

#project_b .xd_img img {
  width: 100%;
}

#project_b .xd_txt {
  width: 600px;
  height: 400px;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

#project_b .clone_img {
  width: 300px;
  height: 300px;
  /* background-color: aqua; */
}

#project_b .clone_img img {
  width: 100%;
}

#project_b .clone_txt {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

#project_b .react_img {
  width: 300px;
  height: 300px;
  /* background-color: aqua; */
}

#project_b .react_img img {
  width: 100%;
}

#project_b .react_txt {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

#project_b .project_b04 {
  background-color: rgb(177, 157, 157);
}

/* 컨텐츠영역 */

#contents {
  /* background-color: darkgoldenrod; */
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#contents_in {
  width: 1300px;
  height: 800px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contentsbox {
  width: 500px;
  height: 100px;
  /* border: 10px solid #000; */
  /* position: absolute;
    top: 100px;
    left: 700px; */
  text-align: center;
  line-height: 100px;
}

#contentsbox p {
  font-size: 50px;
}

#form {
  /* position: absolute;
    top: 300px;
    left: 600px; */
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 20px;
  color: #000;
}

.field input {
  display: block;
  min-width: 300px;
  line-height: 1.5;
  font-size: 14px;
}

.field:nth-child(3) input {
  display: block;
  min-width: 700px;
  height: 200px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
}

/* 마무리인사영역 */

#end {
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}

#end p {
  font-size: 100px;
}

/* q_mn */

#q_mn {
  position: absolute;
  width: 50px;
  height: 300px;
  top: 200px;
  right: 50px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
}

#q_mn .nav {
  width: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#q_mn .nav li {
  width: 30px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}

#q_mn .nav li.on2 {
  border-bottom: 2px solid #000;
}
